body > .container {
    padding: 60px 15px 0;
}

.angular-google-map-container {
    height: 400px;
}

input:required:invalid,
input:focus:invalid {
    /* insert your own styles for invalid form input */
    -moz-box-shadow: none;
}